<section class="semantic-content" id="modal-show" tabindex="-1"
        role="dialog" aria-labelledby="submit-video-modal" aria-hidden="true">

  <div class="modal-inner">
    <header id="submit-video-modal"><span id='submit-video-header'>Submit Video</span></header>
    <div class="modal-content">
      <div id='youtube-url-form'>
        <%= form_for :youtube, url: youtube_parser_path, remote: true, method: :get do |form| %>
          <%= form.text_field :video_url, placeholder: 'Youtube URL' %>
          <%= form.submit 'Next', id: 'submit-video-button' %>
        <% end %>
      </div>
      <div id='submit-video-form'>
        <%= form_for new_video, remote: true do |form| %>
          <%= form.text_field :name, placeholder: 'Video Name' %>
          <%= form.hidden_field :youtube_url, placeholder: 'Youtube URL' %>
          <%= form.text_area :description, placeholder: 'Video Description', size: '30x10' %>
          <%= form.submit 'Submit for approval', id: 'submit-video-button' %>
        <% end %>
      </div>
    </div>
    <footer></footer>
  </div>

  <a href="#!" class="modal-close" title="Close this modal" data-close="Close"
        data-dismiss="modal">×</a>
</section>
