<div id='approve-<%= dom_id(video) %>'>
  <p><%= video.name %></p>
  <p><%= video.youtube_url %></p>
  <% if current_user.moderator? %>
    <p>
      <%= button_to 'Approve',
        unpublished_submission_path(video),
        remote: true,
        method: :patch
      %>
    </p>
  <% end %>
  <% if current_user.admin? %>
    <p>
      <%= button_to 'Delete',
        submission_path(video),
        remote: true,
        method: :delete,
        confirm: 'Are you sure you wish to delete this submission permanently?
                  This can not be undone!'
      %>
    </p>
  <% end %>
</div>
