<section class="main-section">
  <div class="video">
    <div class="title-stats">
      <p class="video-title"><%= @video.name %></p>
      <span class="video-score"><%= @video.score %> Total points</span>
      <span class="video-upvotes"><%= @video.up_votes %> Upvotes</span>
      <span class="video-downvotes"><%= @video.down_votes %> Downvotes</span>

      <% if current_user.can_edit? %>
        <% if @video.published? %>
          <span class="video-unpublish">
            <%= link_to "Unpublish Video",
              submission_path(@video),
              method: :patch
            %>
          </span>
        <% end %>
      <% end %>

      <p class="video-tags">
        <span class="video-tag">Tags: </span>
        <a href="#">eggs</a>
        <a href="#">food</a>
        <a href="#">century egg</a>
        <a href="#">Japan</a>
      </p>
    </div>
    <%= youtube_embed(@video) %>
  </div>

  <div class="voting">
    <% if current_user.logged_in? %>
      <%= link_to image_tag('chevron-up.png'),
        video_vote_path(@video, data: { vote_type: 'Upvote' }),
        title: 'UPVOTE THIS',
        class: class_for_upvote(@video),
        method: :post
      %>
      <%= link_to image_tag('chevron-down.png'),
        video_vote_path(@video, data: { vote_type: 'Downvote' }),
        title: 'DOWNVOTE THIS',
        class: class_for_downvote(@video),
        method: :post
      %>
    <% end %>
    <%= link_to image_tag('random.png'), root_path, title: 'SHOW A RANDOM VIDEO', class: 'voting-button' %>
    <div class="description">
      <p><%= @video.description %></p>
    </div>
  </div>
</section>

<section id="comments">
  <div class="comment">
    <div class="comment-image">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
    </div>
    <div class="comment-content">
      <h1>First Comment Title or Author</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
      <p class="comment-detail">Date or details about this post</h2>
    </div>
  </div>

  <div class="comment">
    <div class="comment-image">
      <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_2.png" alt="">
    </div>
    <div class="comment-content">
      <h1>Another One</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
      <p class="comment-detail">Date or details about this post</h2>
    </div>
  </div>
</section>
