<script>
  $(document).ready(function() {
    $('#edit-tags-button').click(function() {
      $('#tags-container').fadeOut(function () {
        $('#tag-form').fadeIn();
      });
    });
  });
</script>

<section class='main-section'>
  <div class='video'>
    <div class='title-stats'>
      <p class='video-title'><%= @video.name %></p>
      <span class='video-score'><%= @video.score %> Total points</span>
      <span class='video-upvotes'><%= @video.up_votes %> Upvotes</span>
      <span class='video-downvotes'><%= @video.down_votes %> Downvotes</span>

      <% if current_user.can_edit? %>
        <% if @video.published? %>
          <span class='video-unpublish'>
            <%= link_to 'Unpublish Video',
              submission_path(@video),
              method: :patch
            %>
          </span>
        <% end %>
      <% end %>
      <% if current_user.can_tag?(@video) %>
        <div id='tag-form'>
          <%= form_for @video, url: video_tag_path(@video), remote: true do |form| %>
            <%= form.text_field :tag_list %>
            <%= form.submit 'Save' %>
          <% end %>
        </div>
      <% end %>
      <div id='tags-container'>
        <p class='video-tags'>
          <span class='video-tag'>Tags: </span>
          <span id='tags'>
            <%= render @video.tags %>
          </span>
          <% if current_user.can_tag?(@video) %>
            <span class='video-tag'>
              <%= link_to 'EDIT TAGS', 'javascript:void(0);',
                id: 'edit-tags-button'
              %>
            </span>
          <% end %>
        </p>
      </div>
    </div>
    <%= youtube_embed(@video) %>
  </div>

  <div class='voting'>
    <% if current_user.logged_in? %>
      <%= link_to image_tag('thumbs-up.png'),
        video_vote_path(@video, data: { vote_type: 'Upvote' }),
        title: 'UPVOTE THIS',
        class: class_for_upvote(@video),
        method: :post
      %>
      <%= link_to image_tag('thumbs-down.png'),
        video_vote_path(@video, data: { vote_type: 'Downvote' }),
        title: 'DOWNVOTE THIS',
        class: class_for_downvote(@video),
        method: :post
      %>
    <% end %>
    <%= link_to image_tag('shuffle.png'), random_video_path, title: 'SHOW A RANDOM VIDEO', class: 'voting-button' %>
    <div class='description'>
      <p><%= @video.description %></p>
    </div>
  </div>
</section>

<section id='comments'>
  <% if current_user.logged_in? %>
    <div id='comment-form'>
      <%= form_for :comment, url: [@video, :comment], remote: true do |form| %>
        <%= form.text_field :body, placeholder: 'Enter your comment here.' %>
        <%= form.submit 'Comment' %>
      <% end %>
    </div>
  <% end %>
  <div id='comments-listing'>
    <%= render @comments %>
  </div>
  <%= link_to_next_page @comments, 'Load more...', remote: true, id: 'next_page' %>
</section>
