<!DOCTYPE html>
<html>
<head>
  <title>Do It That Way</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navigation">

    <div class="menu-wrapper">
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag('cocktail.png') %>
        doitthatway.com
      <% end %>

      <div class="search-bar">
        <div class="search-and-submit">
          <%= form_for :search,
            url: video_search_path,
            method: :get do |form|
          %>
            <%= form.text_field :query, placeholder: 'Enter Search' %>
            <%= button_tag image_tag('search-icon-black.png') %>
          <% end %>
        </div>
      </div>

      <div class="nav">
        <span id="navigation-menu">
          <% if current_user.logged_in? %>
            <%= link_to 'Submit Video', '#modal-show' %>
            <%= link_to image_tag(current_user.image, height: '30px'), '#' %>
            <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
          <% else %>
            <%= link_to 'Sign in with Facebook', '/auth/facebook', id: 'sign_in' %>
          <% end %>
        </span>
      </div>
    </div>
  </header>

  <section class="categories-bar">
    <div class="button-group">
      <% if current_user.admin? %>
        <ul>
          <li>ADMIN:</li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
      <% end %>
      <% if current_user.moderator? %>
        <ul>
          <li>MODERATOR:</li>
          <li>
            <span id='unpublished-submission-button' class='<%= unpublished_submissions_class %>'>
              <%= link_to 'Unpublished Submissions', unpublished_submissions_path %>
            </span>
          </li>
        </ul>
      <% end %>
      <ul>
        <li>TOP THREE TAGS: </li>
        <%= render partial: 'tags/top_tags', collection: top_tags %>
      </ul>
    </div>
  </section>

  <%= render 'videos/submit_video' %>

  <%= yield %>

  <section id="footer">
    <div id='about-bar'>
      This tool was created by <%= link_to 'Justin Kenyon', 'http://justinkenyon.com' %>
      using Ruby on Rails, jQuery, and SASS. The code is open source and
      available on <%= link_to 'Github', 'http://github.com/kenyonj/doitthatway/' %>.
    </div>
  </section>

</body>
</html>
