<!DOCTYPE html>
<html>
<head>
  <title>Do It That Way</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navigation">

    <div class="menu-wrapper">
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag('cocktail.png') %>
        doitthatway.com
      <% end %>

      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <%= image_tag('search-icon-black.png') %>
          </button>
        </div>
      </div>

      <div class="nav">
        <span id="navigation-menu">
          <% if current_user %>
            <%= link_to 'Submit Video', '#' %>
            <%= link_to image_tag(current_user.image, height: '30px'), '#' %>
            <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
          <% else %>
            <%= link_to 'Sign in with Facebook', '/auth/facebook', id: 'sign_in' %>
          <% end %>
        </span>
      </div>
    </div>
  </header>

  <section class="categories-bar">
    <div class="button-group">
      <% if signed_in_user.admin? %>
        <ul>
          <li>ADMIN:</li>
          <li><%= link_to 'Users', users_path %></li>
        </ul>
      <% end %>
      <% if signed_in_user.moderator? %>
        <ul>
          <li>MODERATOR:</li>
          <li>
            <span id='unpublished-submission-button' class='<%= unpublished_submissions_class %>'>
              <%= link_to 'Unpublished Submissions', unpublished_submissions_path %>
            </span>
          </li>
        </ul>
      <% end %>
      <ul>
        <li>TRENDING TOPICS:</li>
        <li><%= link_to 'Food', '#' %></li>
        <li><%= link_to 'Life', '#' %></li>
        <li><%= link_to 'Work', '#' %></li>
      </ul>
    </div>
  </section>

  <%= yield %>

  <section id="footer">
  </section>

</body>
</html>
